@model AppDomainCore.Dto.TechnicalAndCarDto



<h2>فرم معاینه فنی</h2>

<div asp-validation-summary="ModelOnly" class="text-bg-danger"></div>
<form method="post" asp-action="Create" asp-controller="TechnicalExamination">
    
    <div class="form-group">
        <label class="form-label" asp-for="FullName"></label>
        <input class="form-control" asp-for="FullName" />
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="form-label" asp-for="Phone"></label>
        <input class="form-control" asp-for="Phone" />
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="form-label" asp-for="NationalCode"></label>
        <input class="form-control" asp-for="NationalCode" />
        <span asp-validation-for="NationalCode" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="form-label" asp-for="CarLicensePlate"></label>
        <input class="form-control" asp-for="CarLicensePlate" />
        <span asp-validation-for="CarLicensePlate" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label class="form-label" asp-for="YearProduction"></label>
        <input type="date" class="form-control" asp-for="YearProduction" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
        <span asp-validation-for="YearProduction" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="form-label" asp-for="Address"></label>
        <input class="form-control" asp-for="Address" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="CarId">مدل خودرو</label>
        <select class="form-control" asp-for="CarId">
            <option value="">انتخاب کنید</option>
            @foreach (var car in Model.ModelCars)
            {
                <option value="@car.Id">@car.Model</option>
            }
        </select>
        <span asp-validation-for="CarId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="form-label" asp-for="AppointmentDate"></label>
        <input type="date" class="form-control" asp-for="AppointmentDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
        <span asp-validation-for="AppointmentDate" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-dark">ثبت معاینه</button>
</form>
