@{
    ViewData["Title"] = "Home Page";

    @if (TempData["Success"] != null)

    {
        <div class="alert alert-primary" role="alert">
            <samp>
                @TempData["Success"].ToString()

            </samp>
        </div>
    }
    }

    <div class="text-center">
        <h1 class="display-4">خوش امدید</h1>

    </div>
